.advantages {
    background-color: var(--main-back-color);
    padding-top: 25px;
    padding-bottom: 68px;
}

.advantages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.advantages__icon-value {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color);
}

.advantages__icon-description {
    max-width: 230px;
    font-size: 12px;
    line-height: 1.7;
    color: var(--text-color);

}

.advantages__item:not(:last-child) {
    margin-bottom: 28px;
}

@media screen and (min-width: 480px) {
    .advantages{
        padding-top: 30px;
        padding-bottom: 81px;
    }

    .advantages__item {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }    
}

@media screen and (min-width: 768px) {
    .advantages{
        padding-top: 40px;
        padding-bottom: 204px;
    }

    .advantages__list {
        display: flex;
        justify-content: center;
    }

    .advantages__item {
        width: 152px;
        margin-left: 0;
        margin-right: 0;
        &:not(:last-child) {
            margin-right: 80px;
            margin-bottom: 0;
        }
    }

    .advantages__icon {
        margin-bottom: 32px;
    }

    .advantages__icon-value {
        margin-bottom: 12px;
        font-size: 48px;
    }

    .advantages__icon-description {
        font-size: 14px;
        line-height: 1.74;
    }
}

@media screen and (min-width: 1200px) {
    .advantages{
        padding-top: 73px;
        padding-bottom: 178px;
    }

    .advantages__item {
        width: 368px;
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    .advantages__icon {
        margin-bottom: 40px;
    }

    .advantages__icon-value {
        font-size: 58px;
    }

    .advantages__icon-description {
        font-size: 16px;
        line-height: 1.76;
    }
}