.products {
    background-image: 
    url(../images/Backgroud-480.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    
}

@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products {
        background-image:
        url(../images/Backgroud-480@2x.jpg);
    }
}

.products__label {
    margin-bottom: 12px;
    font-weight: 800;
    color: var(--title-color);
}

.products__title {
    margin-bottom: 148px;
    color: var(--title-color);
}

.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
    border-radius: 24px;
    padding: 123px 40px 16px;
    &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: block;
        width: 200px;
        height: 200px;
        background-size: contain;
        background-position: center;
        border-radius: 101px;
       
    }
    &::before {
        content: "";
        position: absolute;
        top: -45%;
        left: 50%;
        transform: translate(-50%, 45%);
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 101px;
        
    }
}

.products__bg1 {
    background-color: #AEC6A5;
    &::after {
        background-image: url(../images/product-1-480.png);
        
    }
    &::before {
        background: linear-gradient(0deg, 
        rgba(156, 190, 143, 0.7), 
        rgba(156, 190, 143, 0.7), 
        #D9D9D9);
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
}

@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__bg1::after {
        background-image:
        url(../images/product-1-480@2x.png);
    }
}

.products__bg2 {
    background-color: #EFD478;
    &::after {
        background-image:
        url(../images/product-2-480.png);
    }
    &::before {
        background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), 
        rgba(248, 210, 78, 0.7), 
        #D9D9D9);
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }
}

@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__bg2::after {
        background-image:
        url(../images/product-2-480@2x.png);
    }
}

.products__bg3 {
    background-color: #D6936D;
    &::after {
        background-image: url(../images/product-3-480.png);

    }

    &::before {
        background-image: linear-gradient(0deg, 
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7), 
        #D9D9D9);
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
}

@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__bg3::after {
        background-image:
        url(../images/product-3-480@2x.png);
        
    }
}

.products__item:not(:last-child) {
    margin-bottom: 168px;
}

.products__name {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-color);
}

.products__text {
    font-size: 14px;
    color: var(--title-color);
}

.products__arrow {
    position: relative;
    z-index: 8;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .products {
        padding-bottom: 41px;
        
    }

    .products__title {
        margin-bottom: 164px;
    }

    .products__item {
        width: 320px;
        height: 428px;
        padding: 126px 60px 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .products {
        padding-bottom: 60px;
        background-image: 
        url(../images/Backgroud-768.jpg);
    }

    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products {
            background-image:
            url(../images/Backgroud-768@2x.jpg);
        }
    }

    .products__label {
        font-size: 22px;
    }

    .products__title {
        margin-bottom: 200px;
        font-size: 34px;
    }

    .products__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products__item {
        padding: 108px 26px 12px;
        margin-left: 0;
        margin-right: 0;

        &:not(:last-child) {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }

    .products__name {
        font-size: 22px;
        line-height: 1.23;
        
    }
}

@media screen and (min-width: 1200px) {
    .products {
        padding-bottom: 60px;
        background-image: 
        url(../images/Backgroud-1200.jpg);
    }

    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products {
            background-image:
            url(../images/Backgroud-1200@2x.jpg);
        }
    }

    .products__label {
        font-size: 30px;
    }

    .products__title {
        margin-bottom: 303px;
        font-size: 36px;
    }

    .products__item {
        width: 370px;
        height: 536px;
        padding: 165px 64px 60px;


        &:not(:last-child) {
            margin-right: 29px;
        }

        &::after {
            top: -183px;
            left: 50%;
            transform: translateX(-50%);
            width: 302px;
            height: 302px;
            border-radius: 150px;
           
        }
        &::before {
            top: -167px;
            left: 50%;
            transform: translateX(-50%);
            width: 302px;
            height: 302px;
            border-radius: 150px;
        }
    }

    .products__bg1 {
        &::after {
            background-image: url(../images/product-1-1200.png);
            
        }
        &::before {
            box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
        }
    }
    
    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__bg1::after {
            background-image:
            url(../images/product-1-1200@2x.png);
        }
    }
    
    .products__bg2 {
        &::after {
            background-image:
            url(../images/product-2-1200.png);
        }
        &::before {
            box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        }
    }
    
    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__bg2::after {
            background-image:
            url(../images/product-2-1200@2x.png);
        }
    }
    
    .products__bg3 {
        &::after {
            background-image: url(/../images/product-3-1200.png);
    
        }
    
        &::before {
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
        }
    }
    
    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .products__bg3::after {
            background-image:
            url(../images/product-3-1200@2x.png);
            
        }
    }

    .products__name {
        margin-bottom: 66px;
        font-size: 30px;
        line-height: 1.23;
        
    }
    
    .products__text {
        font-size: 16px;
    }
    
}


