.contact-form {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
   
}
.contact-form__field {
    position: absolute;
    top: 11px;
    left: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--title-color);
}

.contact-form__input {
    width: 100%;
    height: 42px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-back-color);
    border-radius: 10px;

}

.contact-form__message {
    resize: none;
    height: 84px;
}

.contact-form__btn {
    display: block;
    min-width: 132px;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--title-color);
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.product-franchise-form {
    
    .contact-form {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 12px;
        } 
    }

    .contact-form__field {
        position: absolute;
        top: 8px;
        left: 12px;
        font-size: 12px;
    }
    
    .contact-form__input {
        height: 32px;
    
    }
    
    .contact-form__message {
        height: 65px;
    }

    .contact-form__btn {
        min-width: 114px;
        font-size: 12px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 768px) {
    .contact-form__field {
        left: 16px;
    }

    .contact-form__btn {
        min-width: 121px;
        font-size: 14px;
        line-height: 1.21;
    }

    .product-franchise-form { 
        .contact-form {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        .contact-form__field {
            top: 11px;
            left: 16px;
            font-size: 14px;
        }
       
        .contact-form__input {
            height: 42px;
        
        }

        .contact-form__message {
            height: 84px;
        }

        .contact-form__btn {
            min-width: 121px;
            font-size: 14px;
            line-height: 1.21;
        }
    }
}

@media screen and (min-width: 1200px) {
    .product-franchise-form {
        width: 368px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }

}