@media screen and (max-width: 1199px) {
    .logo__img {
        width: 48px;
        height: 44px;
    }
}

@media screen and (max-width: 479px) {
    .logo__img {
        width: 40px;
        height: 37px;
    }
}

@media screen and (min-width: 1200px) {
    .logo__img {
        width: 60px;
        height: 65px;
    }
}