:root {
    --main-back-color:#84A178;
    --mobile-back-color: #85A279;
    // --secondary-color:;
    --accent-color: #F8D24E;
    --hover-color: #0A8817;
    --title-color: #131313;
    --text-color: #FCFCFC;
    --main-font: Montserrat, sans-serif; 
    --title-font: Seymour One, sans-serif;
}